



#article {
	background-color: #fff;
	font-family: 'Patrick Hand', cursive;
}

a {
	color: black;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

.col-sm-* {
	padding: 10px;
}

.circle {
/*	border-radius: 30px;*/
	/*background-color: rgba(177, 201, 217, 0.3);*/
/*	margin: 1em;*/
	/*background-size: 30px;*/
	border-radius: 40px;
	padding: 3em;
	max-height: 300px;
	height: 200px;
	margin: 0 auto;
	border-left: 1px solid rgba(177, 201, 217, 0.8);
	border-right: 1px solid rgba(177, 201, 217, 0.8);
	/*margin: 0 3em;*/
}

.circle :hover {
	transform: scale(1.1);
	transition: 0.1s;
	text-decoration: none;
}

h1 {
	margin-top: 0.7em;
	font-family: 'Playfair Display', serif;
	font-size: 4em;
	/*white-space: nowrap;*/
}

@media (max-width: @screen-xs-max) {
	h1 {
		font-size: 10px;
		white-space: pre-wrap;
	}
}


h3 {
	font-size: 2em;

}

h4 {
	font-size: 1.5em;
}


.indent_left {
	padding-left: 4em;
}

.img-circle {
	size: 0.5em;
}

.italic {
	text-decoration: italic;
}

.larger {
	font-size: 3em;
}

.nowrap {
	white-space: nowrap;
}

p {
	font-size: 1.5em;
	padding: 6px;
	text-indent: 2em;
}

.red {
	color: rgb(157, 0, 0);
}

#summary {
	font-weight: bold;
}


