



#article {
	background-color: #fff;
	font-family: 'Patrick Hand', cursive;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

.col-sm-* {
	padding: 10px;
}

.circle {
/*	border-radius: 30px;*/
	background-color: rgba(209, 255, 192, 0.5);
/*	margin: 1em;*/
	background-size: 30px;
	border-radius: 90px;
	padding: 3em;
}

.circle :hover {
	transform: scale(1.1);
	transition: 0.1s;

}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 4em;
}


h3 {
	font-size: 2em;

}

h4 {
	font-size: 1.5em;
}


.indent_left {
	padding-left: 4em;
}

.img-circle {
	size: 0.5em;
}

.italic {
	text-decoration: italic;
}

.larger {
	font-size: 3em;
}

p {
	font-size: 1.5em;
	padding: 6px;
	text-indent: 2em;
}

#summary {
	font-weight: bold;
}


